<h3> Get to Know a numpy Array </h3>

You will use the dataframe <code>df</code> for the following:

In [1]:
import pandas as pd

df=pd.DataFrame({'a':[11,21,31,44,43,55,77,66,44,66,77],'b':[21,22,23,445,55,44,22,11,66,88,44]})

1) plot the first three rows:

In [2]:
df.head(11)

     a    b
0   11   21
1   21   22
2   31   23
3   44  445
4   43   55
5   55   44
6   77   22
7   66   11
8   44   66
9   66   88
10  77   44

In [3]:
df1 = df[df["a"]<50]
df1.head(11)

    a    b
0  11   21
1  21   22
2  31   23
3  44  445
4  43   55
8  44   66

In [4]:
df["a"]<50

0      True
1      True
2      True
3      True
4      True
5     False
6     False
7     False
8      True
9     False
10    False
Name: a, dtype: bool

In [5]:
df.head(3)

    a   b
0  11  21
1  21  22
2  31  23

2) obtain column  <code> 'a' </code>

In [9]:
df['a']

0     11
1     21
2     31
3     44
4     43
5     55
6     77
7     66
8     44
9     66
10    77
Name: a, dtype: int64

In [10]:
import pandas as banana

df=banana.DataFrame({'a':[11,21,31],'b':[21,22,23]})

df.head()

    a   b
0  11  21
1  21  22
2  31  23

<hr>
<small>Copyright &copy; 2018 IBM Cognitive Class. This notebook and its source code are released under the terms of the [MIT License](https://cognitiveclass.ai/mit-license/).</small>